<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/images/logo-light.png" alt="logo"
                    width="264" height="78"></a>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li class="cs-li">
                        <a href="/" class="cs-li-link cs-active">
                            Home
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="#sbs" class="cs-li-link">
                            About
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="#why-choose-376" class="cs-li-link">
                            Why Choose Us
                        </a>
                    </li>

                    <li class="cs-li">
                        <a href="#steps-1376" class="cs-li-link">
                            Our Process
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="/contact">Kalamazoo, Mi</a>
                    </li>
                    <li>
                        <a href="tel:313-772-0844">T: (313)-772-0844</a>
                    </li>
                    <li>
                        <a href="mailto:xxlorenzocolvin@icloud.com">Click to Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="www.kalamazoowebsitedesign.com" target="_blank" rel="noopener">Kalamazoo Website Design</a>
        <span class="copyright"> Copyright 2025 - Present</span>
    </div>
</footer>